* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #eaeff0;
	color: #23242a;
	position: relative;
	min-height: 100vh;
	margin: 0 auto;
}

h1 {
	font-size: 2.5rem;
	margin-top: 4rem;
	letter-spacing: 0.1rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

p {
	line-height: 1.8;
	margin-bottom: 0;
}

.about p {
	max-width: 65ch;
}

li,
p,
a {
	font-size: 1.375rem;
}

a {
	color: #AA2E00;
}

a:hover {
	text-decoration: none;
}

.link {
	color: #f2d27b;
}

/*ul {*/
/*	margin-bottom: 0;*/
/*}*/

:focus {
	outline: 2px solid #eaeff0;
	outline-offset: 5px;
}

.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.logo > a {
	outline-offset: -10px;
}

.logo {
	max-width: 450px;
}

header, footer, thead {
	background-color: #23242a;
	color: #eaeff0;
}

header {

	display: flex;
	justify-content: space-between;
	align-items: center;
}

header li {
	display: inline-block;
	margin-left: 2rem;
}

header ul:last-child {
	margin-right: 2rem;
}

main {
	margin: 0 auto;
	max-width: 1200px;
	padding-bottom: 7rem;
}

main * + * {
	margin-top: 2rem;
}

h2, h3 {
	letter-spacing: 0.1rem;
}

h3 + p {
	margin-top: 0.5rem;
}

.content {
	 margin: 2%;
}

.list-endpoints li {
	margin-left: 2rem;
	margin-bottom: 3rem;
}

.api-link {
	text-decoration: none;
}

table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #bebebe;
	border-radius: 8px
	}

td, th {
	border: 1px solid #999;
	padding: 1rem 2rem;
	text-align: left;
}

tr:nth-child(2n) {
	background-color: #d4d8d9
}

td:first-child {
	font-weight: 500;
}

td:last-child {
	font-style: italic;
}

.json-wrapper {
	height: fit-content;
}
pre {
	font-size: 1rem;
	overflow-x: auto;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	outline: 1px solid;
	padding: 2rem;
}

.string {
	color: #0b6125;
}
.number {
	color: #811f24;
}
.key {
	color: #234a97;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3.8rem;
	display: grid;
	place-content: center;
}

@media (max-width: 576px) {
	html {
		font-size: 13px;
	}
}

@media (max-width: 756px) {
	header {
		flex-direction: column;
		padding-bottom: 2rem;
	}
}
